.menubar {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.menubar span {
    margin: 0;
    padding: 0;
}

.menubar a {
    text-align: center;
    padding: 4px 2px;
    margin: 0 1px 0 0;
    color: #EEEEEE;
    letter-spacing: 0;
}

.menubar a:hover {
    background-color: #707070;
    color: #EEEEEE;
}

/* Shortcuts manipulation */
#shortcut_add_remove {
    height: 20px;
    padding: 0;
    width: 24px;
    cursor: pointer;
    display: inline; /*IE7 */
    display: inline-block;
}

.shortcut-add {
    background: url(../images/add-shortcut.png) no-repeat;
    background-position: bottom;
}
.shortcut-remove {
    background: url(../images/remove-shortcut.png) no-repeat;
    background-position: bottom;
}

/* ================ */
#shortcuts {
    position: absolute;
    
    margin: 0;
    padding: 6px 5px;
    
    top: 35px;
    left: 183px;
    right: 0;
    height: 17px;
    line-height: 1.2;
}
#shortcuts.scrolling {
    padding: 6px 14px !important;
}

#shortcuts ul {
    display: block;
    overflow: hidden;
    list-style: none;
    white-space: nowrap;
    padding: 0;
    margin: 0;
}

#shortcuts li {
    display: -moz-inline-stack;    
    display: inline-block;
    display: inline; /*IE7 */
    color: #fff;
    text-align: center;
    border-left: 1px solid #909090;
    padding-left: 2px;
}

#shortcuts li:first-child,
#shortcuts li.first {
    border-left: none;
    padding-left: 0;
}

#shortcuts a {
    display: inline; /*IE7 */
    display: inline-block;
    padding: 0;
    margin: 0;
}

#shortcuts a span {
    display: inline; /*IE7 */
    display: inline-block;
    line-height: 18px;
    padding: 0 2px;
}

div.contextmenu {
    background-color: #444;
    border: 1px solid #000;
    white-space: nowrap;
    position: absolute;
    padding: 2px;
    z-index: 100;
}

div.contextmenu a,
div.contextmenu span {
    display: block;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
    padding: 2px;
    color: #FFF;
    cursor: pointer;
}


div.contextmenu hr {
    margin: 1px 0 !important;
}

div.contextmenu td {
    padding: 1px;
}

div.contextmenu a:hover,
div.contextmenu span:hover {
    color: #FFF;
    background-color: #505050;
    text-decoration: none;
}

div.contextmenu a.disabled,
div.contextmenu span.disabled {
    color: #C0C0C0;
}
