.icons { display: block; width: 40px; height: 40px; background-image: url(../images/sixicons.png); background-repeat: no-repeat; } 
.icon_1 { background-position: 0px 0px; }
.icon_2 { background-position: -40px 0px; } 
.icon_3 { background-position: -80px 0px; } 
.icon_4 { background-position: 0px -40px; } 
.icon_5 { background-position: -40px -40px; } 
.icon_6 { background-position: -80px -40px; } 

