.drag-handle{ /*Overwrite default drag handle bar background color with below*/
background-color: #CDDCCD;
}

#interVeil{ /*CSS for veil that covers entire page while modal window is visible*/
position: absolute;
background-color:#336600;
width: 10px;
left: 0;
top: 0;
z-index: 5;
visibility: hidden;
filter:progid:DXImageTransform.Microsoft.alpha(opacity=40);
opacity: .4;
}