.search_filters {
    white-space: nowrap;
    border-collapse: separate;
    width: auto;
    padding: 0 !important;
}

td.search_fields {
    padding: 0 4px;
}

div#search_filter_data table,
div.toolbar table,
table.titlebar,
table.view {
    border: none;
}

div#search_filter_data table tr:nth-child(2) div.group-expand,
div#search_filter_data table tr:nth-child(2) div.group-collapse
{
    margin-top: 6px;
}

td.item.search_filters {
    width: 1%;
}

.no-record-warning {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #666666;
    background: white;
    font-size: 1.5em;
    font-weight: bold;
    padding: 5px;
    position: absolute;
    width: 350px;
    height: 54px;
    left: 50%;
    margin-left: -175px;
    top: 50%;
    margin-top: -27px;
}
.no-record-warning p {
    text-align: center;
    margin: 5px 0;
}
div.wizard_toolbar {
	float: right;
}

.filter_item {
    padding: 0;
}

.item table {
    border: none;
}

table.fields {
    border: none;
}
div.non-editable table.fields td {
    border: 1px solid #F0EEEE;
    height: 20px;
}
div.non-editable div.notebook table.fields td {
    border: 1px solid #F9F9F9;
}
table.form-container td.label {
    width: auto;
}
div.non-editable td.item-char,
div.non-editable td.item-selection,
div.non-editable td.item-datetime,
div.non-editable td.item-email,
div.non-editable td.item-url,
div.non-editable td.item-float,
div.non-editable td.item-integer,
div.non-editable td.item-boolean,
div.non-editable td.item-m2o {
    background: white;
}

button, .button {
    border: 1px solid #666666;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: url(../images/button-a.gif) repeat-x;
    color: #fff;
    white-space: nowrap;
    font-size: 1em !important;
    font-weight: bold;
    line-height: 12px;
    text-shadow: #6a6969 0 1px 0;
    padding: 1px 10px;
    cursor: pointer;
    vertical-align: middle;
}
button:hover, .button:hover,
button:focus, .button:focus,
button:active, .button:active {
    background: #666;
}

.toolbar button {
    font-size: 0.9em;
}

.item button table {
    margin: 0;
    border: none;
    font-weight: bold;
    font-size: 0.8em;
}

.item button table td {
    border: none;
    padding: 0;
}

div.group-data {
    white-space: nowrap;
}

div.group-data table.fields {
    width: 0%;
}

#filter_option_table {
    margin: 0 0 0 10px;
}

#filter_option_table .filter_column {
    padding: 0;
    text-align:right;
    white-space:nowrap;
}

#filter_option_table .filter_column select {
    width: 80px;
}

#filter_option_table .filter_column .qstring,
#filter_option_table .filter_column .filter_fields,
#filter_option_table .filter_column .expr,
#filter_option_table .and_or select. {
    width: 100px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CECBCB;
	vertical-align: middle;
}

#filter_option_table .image_col {
    padding-right: 2px;
    text-align: left;
}

#filter_option_table .and_or {
    padding-left: 5px;
    text-align: left;
    color: #777777;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
}

#filter_option_table td .filter-lsep {
	float:left;
	line-height:50%;
	width:47%;
}

#filter_option_table td .filter-msep {
    float:left;
    text-align:center;
    width:5%;
    color: #777777;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
}

#filter_option_table td .filter-rsep {
	float:right;
	line-height:50%;
	width:47%;
}

#filter_option_table td .filter-hr{
	background-color:#CCCCCC;
	border:medium none;
	color:#CCCCCC;
	height:1px;
	margin:5px 0 !important;
	overflow:hidden;
	padding:0;
}

/* ============== SEARCH FORM start ==============*/
div#search_filter_data input.datetime,
div#search_filter_data input.char,
div#search_filter_data input.float,
div#search_filter_data input.m2o_search,
div#search_filter_data select.selection {
    background-color: #fff;
    color: #000;
    border: 1px solid #999999;
}
#search_filter_data button,
#search_filter_data .button {
    padding: 0;
}
#search_filter_data .fields {
    width: 100%;
}
#search_filter_data .fields .filters-group .fields {
    width: 1px;
}

.filters-group {
    margin-right: 4px;
}

div.inactive_filter {
    cursor: pointer;
    background: url(../images/button_unchecked.gif) repeat-x left bottom;
    border: solid 1px #888888;
    white-space: nowrap;
}

div.active_filter {
    cursor: pointer;
    background: url(../images/button_checked.gif) repeat-x left bottom;
    border: solid 1px #888888;
    white-space: nowrap;
}

td.group-expand  {
    background: url(../images/treegrid/expand.gif) no-repeat top left;
}

td.group-expand:hover  {
    background-image: url(../images/treegrid/expandh.gif);
}

td.group-collapse  {
    background: url(../images/treegrid/collapse.gif) no-repeat top left;
}

td.group-collapse:hover  {
    background-image: url(../images/treegrid/collapseh.gif);
}

div.group-expand {
    margin-bottom: 3px;
}
div.group-expand, div.group-collapse {
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    margin: 2px 0 2px 0;
}

.group-expand h2, .group-collapse h2 {
    padding: 2px 0 2px 10px;
    background: url(../images/group-a-header-a.png) 0 50% no-repeat;
    color: #7d7979;
    font-size: 1em;
    font-weight: bold;
}
.group-collapse h2 {
    background-image: url(../images/group-a-header-b.png);
}

.group-expand h2:hover, .group-collapse h2:hover {
    background: #E6E6E6 url(../images/group-a-header-a2.png) no-repeat 0 50%;
    color: #000;
}
.group-collapse h2:hover {
    background-image: url(../images/group-a-header-b2.png);
}

#groupdata_table {
    margin: 0 0 0 10px;
    padding: 0;
    display: block;
}

td.custom-filter ul {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0 5px 0 0;
}

.search_table {
    width: 100%;
}
.search_table .filter-a {
    display: inline;
}
.search_table .filter-a .filter_icon {
    vertical-align: bottom;
    margin: 0;
    min-width: 16px;
    min-height: 16px;
    height: 18px;
}
.search_table td {
    text-align: left !important;
}
.search_table label {
    font-weight: bold;
}
.search_table span.item {
    padding: 2px 0;
}

td.custom-filter ul li {
    display: inline;
    float: left;
    margin: 0;
    padding-right: 5px;
}

td.custom-filter ul li select {
    float: left;
    height: 17px;
    padding: -1px 10px 0;
    border: 1px solid;
    border-color: #e5e3e3 #dad9d9 #cccbcb;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 0 #fff;
    color: #8d8d8d;
    white-space: nowrap;
    font-size: 1em;
    font-weight: bold;
    line-height: 11px;
    text-shadow: #fff 0 1px 0;
}

td.custom-filter ul li a.button {
    cursor: pointer;
    float: left;
    height: 11px;
    padding: 3px 9px 0;
    border: 1px solid;
    border-color: #e5e3e3 #dad9d9 #cccbcb;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 0 #fff;
    background: url(../images/button-a.gif) 0 -26px repeat-x;
    color: #8d8d8d;
    white-space: nowrap;
    font-size: 1em;
    font-weight: bold;
    line-height: 11px;
    text-transform: uppercase;
    text-shadow: #fff 0 1px 0;
}

td.custom-filter ul li a.button:hover,
td.custom-filter ul li a.button:focus,
td.custom-filter ul li a.button:active {
    border-color: #c6c4c4 #aaa9a9 #797878;
    background-position: 0 0;
    text-shadow: #6a6969 0 1px 0;
    color: #fff;
}

td.custom-filter ul li .add {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0 -2px;
    background: url(../images/button-b-icons-add.gif) no-repeat 0 50%;
    font-size: 0;
    text-indent: -10001px;
}

/* ============== SEARCH FORM end ==============*/
button.inactive {
    background: #eeeeee;
    border: solid 1px #888888;
    color: #999999;
}

*[disabled] {
    color: #999;
}

.button-b[disabled], 
.button-b[disabled]:hover {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #AAAAAA;
    cursor: default;
    text-shadow: 0 0 #FFFFFF;
}

.item .readonlyfield {
    color: black;
}

.readonlyfield button {
    display: none;
}

/* ---------------------- Attachment --------------- */
#attachment-box label {
    display: block;
}

.errorfield {
    border: 1px solid #D00 !important;
    background: #FFFFFE;
}

/*------------------------------------------------------------------*/
.static_boxes {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 1px 1px #fff;
    -moz-box-shadow: 0 1px 1px #fff;
    -webkit-box-shadow: 0 1px 1px #fff;
    height: 20px;
    font-size: 1.1em !important;
    border: 1px solid #676767;
    background: #5A5858;
    color: #fff;
    line-height: 16px;
    text-align: center;
    padding: 0 5px;
    margin: 0 0 0 2px;
}

.static_boxes:hover, .static_boxes:focus, .static_boxes:active {
    background: #CCCCCC;
}

div.box,div.box2 {
    background-color: #f6f6f6;
}

fieldset.box {
	border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-color: DarkGray;
}

fieldset.box div.box2 {
	background: none repeat scroll 0 0 transparent;
}

div.box {
    width: 400px;
    padding: 10px;
    margin: auto;
}

div.box2 {
    padding: 10px;
}

a#error_btn {
    cursor : pointer;
}

table.errorbox {
    white-space: nowrap;
    background-color: #F6F6F6;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.error_message_header {
	color: #9a0404;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.4em;
	text-align: center;
}

.error_message_content {
	font-size: 1.4em;
	padding: 0 5px 0 0;
	text-align: center;
	color: #333333;
    white-space: normal;
}

.login_error_message {
	text-align: center;
    font-weight: bold;
    border: none;
    font-size: 1.3em;
    text-align: center;
    background-color: #9a0404;
    color: white;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
}

td.popup_header,
table.popup_header {
	background-color: #bbbbbb;
    color: DarkRed;
    text-align: left;
    font-weight: bold;
    border: none;
    height: 30px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

td.popup_footer,
table.popup_footer,
div.popup_footer {
	background-color: #5A5858;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 1.2em;
    height: 30px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

td.pop_head_font{
	font-size: 1.5em;
}

/* view style */
.view {
    width: 100%;
}

.view .spacer {
    width: 4px;
    height: 4px;
}

.view .title {
    border-top: 1px solid #E3E3E3;
    height: 20px;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
}

.view table.one2many,
.view table.many2many {
    /*border: 1px solid #bbb8a9; */
    border: none;
}

table.o2m_box, table.m2m_box {
    background: #CCCCCC;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

table.o2m_box td.o2m_cell, table.m2m_box td.m2m_cell {
	padding: 1px;
}
table.o2m_box div.pagerbar-header strong {
	font-weight: bold;
	font-size: 13px;
}

.view td.grid-cell table.many2many {
    border: none;
}

.view .separator {
    border: 0 solid #666;
}
.view .separator.horizontal {
    font-weight: bold;
    border-bottom-width: 1px;
    margin: 6px 4px 6px 1px;
}
.view .separator.vertical {
    border-left-width: 1px;
    padding-right: 5px;
}

.label {
    padding: 2px 6px;
}
.item {
    padding: 2px;
}

table.fields td {
    color: #4C4C4C;
}

.label,
.action-buttons label {
    color: #4C4C4C;
    text-align: right;
    white-space: nowrap;
}

.action-buttons label {
    display: block;
}
.action-buttons label input {
    vertical-align: text-top;
}
.item input,
.item select {
    width: 100%;
    min-width: 90px;
}

.item .fields {
    width: 100%;
}

.item input,
.item select,
.item textarea {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #FFFFFF none repeat scroll 0 0;
    border: 1px solid #CECBCB;
    vertical-align: middle;
}

.item input.m2o,
.item input.reference {
    padding-right: 14px;
}

.m2o_container {
    padding-right: 16px;
    white-space: nowrap;
}
.m2o {
    position: relative;
}
.m2o_select {
    position: absolute;
    right: 2px;
    top: -2px;
}
input.datetime {
    float: left;
}
img.datetime {
    float: left;
    margin: 2px 0 0 -19px;
}

img.m2o_select,
img.m2o_open {
    vertical-align: middle;
    cursor: pointer;
}

.item .item-wrapper td {
    padding: 0;
    padding-right: 2px;
    white-space: nowrap;
}

.item .item-wrapper td img {
    vertical-align: middle;
}

.resizable-textarea .grip {
    background: #EEEEEE url(../images/textarea-grip.png) no-repeat scroll center 2px;
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 0pt 1px 1px;
    cursor: s-resize;
    width: 99%;
    height: 9px;
    overflow: hidden;
}

.item .checkbox,
.item .radio {
    width: auto;
    min-width: 10px;
}

#view_form .fielderror,
#search_form .fielderror {
    color: #FF0000;
}

#view_form .requiredfield {
    background-color: #D2D2FF;
}

#view_form .errorfield,
#search_form .errorfield {
    background-color: #FF6666;
}

#view_form .readonlyfield {
    background-color: #EEEEEE;
}

table.readonlyfield .pagerbar .pagerbar-cell .pager-table .pager-cell h2 {
	color: DarkGray;
}

table.readonlyfield table.grid .grid-cell {
	color: DarkGray;
}

table.m2o_readonly {
	color: DarkGray;
}

.view_form_options {
    padding: 3px 0 8px 0;
}
.view_form_options div {
    margin: 3px 0;
}

/* LOGIN AJAX FORM*/
input.user_pass {
    width: 150px;
}

button.click_login {
    width: 80px;
    white-space: nowrap;
}

div.invalid_login {
    display: none;
    color: red;
    text-align: center;
}

/* NORMAL LOGIN*/
select.db_user_pass,
input.db_user_pass {
	width: 100%;
	min-width: 150px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

td.db_login_buttons {
    text-align: right;
    padding: 5px 3px 0 0;
}

/* POPUPS */

.footer_tool_box {
    padding: 2px 5px;
}

td.save_close {
    padding: 0 5px 0 0;
}

/* VIEWED */
div.viewed_tree {
    overflow-x: auto;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    border: solid #999999 1px;
}

/* Binary Widget */
div.binary_buttons {
    white-space: nowrap;
    width: 150px;
}

/* Button Widget */
div.button_wid_string {
    text-align: center;
    background-repeat: no-repeat;
    padding: 3px 0 0 20px;
    height: 17px;
}

/* Progress Bar Widget */
.progress-bar {
    position: relative;
    border: 1px solid gray;
    font-size: 11px;
    text-align: center;
}
.progress-bar div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #afafaf;
    z-index: -1;
}

td.logActions {
    padding: 0 0 1px 10px;
}

div#more_logs {
	display: none;
}

div#system-logs {
    padding: 10px;
}
div#system-logs table {
    border: none;
}
div#system-logs a {
    text-decoration: underline;
    font-weight: bold;
}
div#system-logs table tr:hover {
    background: #eee;
}
div#system-logs table tr td {
    padding: 2px;
}

div#serverlog {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #FFFFFF none repeat scroll 0 0;
    border: 1px solid #CECBCB;
    margin: 8px 8px 0px 8px;
}

table.serverLogHeader {
    border-bottom: 1px solid #CECBCB;
    padding: 2px;
    color: #9A0404;
    width: 100%;
}

div#serverlog a {
    color: #511712;
}
div#serverlog table {
    border: none;
}

#help-tips {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #CECBCB;
    padding: 1px 10px;
    color: #4C4C4C;
}

#disable-tips, #hide-tips {
    float: right;
    font-size: 0.9em;
    padding: 0 4px;
}
a#disable-tips:hover, a#hide-tips:hover {
    text-decoration: underline;
}

#help-tips p {
    padding: 6px 1px 4px;
    font-size: 105%;
}

.pager-cell-button {
    padding: 0 0 0 5px;
}

.custom-filter {
    float: right;
    padding: 0;
}

.filter-a .filter_with_icon {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;

    border: 1px solid #666666;
    border-left-width: 0;
    background: #F4F2F2;
    font-size: 1em !important;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: #eee 0 1px 0;
    color: #4C4C4C;
    line-height: 1.25;
    white-space: nowrap;
    min-height: 40px;
    min-width: 75px;

    padding: 2px 4px !important;
}

.filter-a .filter_with_icon img {
    display: block;
    margin: 1px auto 2px;
}

.filter-a .filter_with_icon:focus,
.filter-a .filter_with_icon:hover {
    background-color: #e6e6e6;
}
.filter-a .filter_with_icon.active {
    background-color: #aaadb1;
    color: #1F1F1F;
}

.filter-a .filter_icon {
    background: none;
    border: none;
    margin: 15px 0 0 0;
    min-height: 25px;
    max-height: 30px;
    max-width: 30px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    padding: 1px 4px 2px 0 !important;
}
.filter-a .filter_icon:hover,
.filter-a .filter_icon:focus {
    background-color: #e6e6e6;
}
.filter-a .filter_icon.active {
    background-color: #aaadb1;
}

.filter-a .filter_icon table {
    margin: 0;
}

.filters-group .group_box:first-child button {
    border-left: 1px solid #666666;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.filters-group .group_box:last-child button {
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

div.filter-a button table {
    margin: 10px;
    text-align: center;
}

td.exp-header,
td.imp-header,
td.save-filter-header {
	padding:0 0 0 10px;
}

td.exp-header a,
td.imp-header a,
td.save-filter-header a{
	margin: 2px;
}

.scroller {
    position: absolute;
    width: 14px;
    display: none;
    height: 100%;
    background: no-repeat center center;
    top: 0;
}
.scrolling .scroller {
    display: block;
}
.left.scroller {
    left: 0;
    background-image: url(/openerp/static/images/scroll_left.png);
}
.right.scroller {
    right: 0;
    background-image: url(/openerp/static/images/scroll_right.png);
}

span.char {
    position: relative;
}

.translatable {
    position: absolute;
    right: 2px;
    top: 0px;
}

img.translatable {
    cursor: pointer;
    vertical-align: middle;
}

iframe.ui-dialog-content {
    padding: 0 !important;
    width: 100% !important;
}
