form * { font-family:verdana; font-size:11px; }
 
body
{
	font: 12px/170% 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
}


#top_menu {
	height:30px;
	width:1000px;
	 
	margin:auto;
}

  
.top_container {
	width:100%; 
	position:relative; 
	 
	height:40px; 
	background-color:#FFFFFF;
}

.header_logo {
	position:absolute; 
	width:320px; 
	height:80px; 
	left: 10px; 
	top: 0px; 
}

.header_banner {
	position:absolute;
	height:40px; 
	left: 220px; 
	top: 0px;
}

.header_logout {
	position:absolute; 
	width:200px; 
	height:40px; 
	right: 0px; top: 0px; 
	 
}

.header_history {
	position:absolute; 
	width:200px; 
	height:40px; 
	right: 0px;
	top: 40px;
	 
}
.top_module_container {
	width:100%; 
	position:relative; 
	background-image: -moz-linear-gradient(bottom, rgb(136,170,214) 7%, rgb(194,220,255) 10%, rgb(136,170,214) 96%);
	height:36px;
	border-color:#999999;
	border-style: solid solid solid solid;
}

#body_bottom {
	width:100%; 
	padding-top:5px; 
	float:left;
	border-width:3px;
	border-color:#E6E6E6;
	border-style:  none solid solid solid;
}

.menu_container {	
	height:auto;
	padding-top:5px; 
	float:left;
	border-width:3px;
	border-color:#999999;
	border-style:  solid solid none solid;
	
}
.menu_conts
{
	background-color:#EBF5ED;
}
.main_body_cont {	
	height:595px;
	padding-top:5px; 
	float:left;
	border-width:3px;
	border-color:#999999;
	border-style:  solid solid none solid;
}

<!-- Form Contents Style Sheets-->

.form_header {
	background-color:#CCCCCC;
	background:#CCCCCC;
	height:100%;
	width:100%;
}

.formbutton {
	cursor:pointer;
	border:outset 1px #66CC00;
	background-image: -moz-linear-gradient(bottom, rgb(136,170,214) 7%, rgb(194,220,255) 10%, rgb(136,170,214) 96%);
	color:#171717;
	font-size: 11px;
	font-weight:bold;
	padding: 1px 2px;
	border-radius:.7em;
}

.formbutton:hover, .formbutton:focus {
	cursor:pointer;
	border:outset 1px #CC00FF;
	background:#C2DCFF;
	color:#171717;
	font-weight:bold;
	padding: 1px 2px;
	border-radius:8px;
}

.text_boxes {
	height: 18px;
	font-size: 11px;
	line-height: 16px;
	padding: 0 5px;
	text-align:left;
	border: 1px solid #676767;
	border-radius: 3px;
	border-radius: .5em;
}
.numbersOnly {
	height: 18px;
	font-size: 11px;
	text-align:right;
	line-height: 16px;
	padding: 0 5px;
	border: 1px solid #676767;
	border-radius: 3px;
	border-radius: .5em;
}
.text_boxes:hover, .text_boxes:focus, .text_boxes:active {
	background-image: -moz-linear-gradient(bottom, rgb(136,170,214) 7%, rgb(255,255,255) 10%, rgb(136,170,214) 96%); 
	border: 1px solid #00A6FE;
}

.text_area {
	border-radius: 3px;
	border-radius: .4em;
	height: 30px;
	font-size: 11px;
	font-family: inherit;
	border: 1px solid #676767;
	line-height: 16px;
	padding: 0 5px;
	margin: 0;
	text-align:left;
	resize: none;
}

.text_area:hover, .text_area:focus, .text_area:active {
	background-image: -moz-linear-gradient(bottom, rgb(136,170,214) 7%, rgb(255,255,255) 10%, rgb(136,170,214) 96%); 
	border: 1px solid #00A6FE;
	resize: none;

}
.text_boxes_numeric
{
	height: 18px;
	font-size: 11px;
	line-height: 16px;
	padding: 0 5px;
	text-align:right;
	border: 1px solid #676767;
	border-radius: 3px;
	border-radius: .5em;
}

.text_boxes_numeric:hover, .text_boxes_numeric:focus, .text_boxes_numeric:active {
	background-image: -moz-linear-gradient(bottom, rgb(136,170,214) 7%, rgb(255,255,255) 10%, rgb(136,170,214) 96%); 
	border: 1px solid #00A6FE;
}

.combo_boxes {
	border-radius: 3px;
	border-radius: .5em;
	height: 20px;
	font-size: 11px;
	border: 1px solid #676767;
	line-height: 16px;
	padding:2px 3px 2px 5px;
	!margin: 0 0 0 2px;
	text-align:left;
}

.combo_boxes:hover, .combo_boxes:focus, .combo_boxes:active {
	background-image: -moz-linear-gradient(bottom, rgb(136,170,214) 7%, rgb(255,255,255) 10%, rgb(136,170,214) 96%); 
	border: 1px solid #00A6FE;
}

.datepicker {
	height: 18px;
	font-size: 11px;
	line-height: 16px;
	padding: 0 5px;
	text-align:right;
	border: 1px solid #676767;
	border-radius: 3px;
	border-radius: .5em;
}

.datepicker:hover, .datepicker:focus, .datepicker:active {
	 
	background-image: -moz-linear-gradient(bottom, rgb(136,170,214) 7%, rgb(255,255,255) 10%, rgb(136,170,214) 96%); 
	border: 1px solid #00A6FE;
}

fieldset {
	border-left:1px solid #6666FF;
	border-right:1px solid #6666FF;
	border-bottom:3px solid #99B9E2;
	border-top:1px solid #6666FF;
	border-radius: .7em;
	padding:10px;
	margin:0;
	background-image: -moz-linear-gradient(bottom, rgb(194,220,255) 0%, rgb(255,255,255) 10%, rgb(194,220,255) 96%);
	
}

legend {
	 
	margin-left:5px;
	font-weight:bold;
	color:#0067B2; 
	height:18px;
	border: 1px solid gray;
	border-radius: .7em;
	vertical-align:middle;
}
h2 { margin-top:0; }

<!--  Modal Popup Window -->

.drag-handle{ /*Overwrite default drag handle bar background color with below*/
background-color: #CDDCCD;
}

#interVeil{ /*CSS for veil that covers entire page while modal window is visible*/
position: absolute;
background-color:#336600;
width: 10px;
left: 0;
top: 0;
z-index: 5;
visibility: hidden;
filter:progid:DXImageTransform.Microsoft.alpha(opacity=40);
opacity: .4;
}


 
.month_button {
	cursor:hand;
	width:75px; 
	border:outset 1px #66CC00;
	background-image: -moz-linear-gradient(bottom, rgb(136,170,214) 7%, rgb(194,220,255) 10%, rgb(136,170,214) 96%);
	color:#171717;
	font-size: 11px;
	font-weight:bold;
	padding: 1px 2px;
	border-radius:.7em;
}

.month_button:hover, .month_button:focus {
	cursor:pointer;
	border:outset 1px #CC00FF;
	background:#C2DCFF;
	color:#171717;
	font-weight:bold;
	padding: 1px 2px;
	border-radius:7px;
	width:75px; 
}

.month_button_selected {
	cursor:hand;
	 width:75px; 
	border:outset 1px #66CC00;
	background:#FF3333;
	color:#171717;
	font-size: 11px;
	font-weight:bold;
	padding: 1px 2px;
	border-radius:.7em;
}

.month_button_selected:hover, .month_button_selected:focus {
	 width:75px; 
	cursor:pointer;
	border:outset 1px #CC00FF;
	background:#FF3333;
	color:#171717;
	font-weight:bold;
	padding: 1px 2px;
	border-radius:7px;
}

.bangla{ 		
		height: 18px;
		font-size: 15px;
		line-height: 16px;
		padding: 0 5px;
		text-align:left;
		border: 1px solid #676767;
		border-radius: 3px;
		border-radius: .5em;
		}
 								<!-- Report Table Format -->	 
.rpt_table
{
	border: 1px solid #6666FF;
}
.rpt_table tbody 
{
 	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 12px;;
	vertical-align: baseline;
}
.rpt_table thead 
{
	text-align: left;
}
 
.rpt_table thead th 
{
	background-image: -moz-linear-gradient(bottom, rgb(136,170,214) 7%, rgb(194,220,255) 10%, rgb(136,170,214) 96%);
	border: 1px solid #6666FF;
	color: #444;
	font-size: 12px;
	font-weight: bold;
	text-align:center;
	line-height:12px;
	height:25px;
}
.tbl_top 
{
	background-image: -moz-linear-gradient(bottom, rgb(136,170,214) 7%, rgb(194,220,255) 10%, rgb(136,170,214) 96%);
	border: 1px solid #6666FF;
	color: #000;
	font-size: 12px;
	font-weight: bold;
	text-align:center;
	line-height:12px;
	height:25px;
}

.rpt_table tfoot th 
{
	background: -moz-linear-gradient(top, #F0F0F0 0, #DBDBDB 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F0F0F0), color-stop(100%, #DBDBDB));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#DBDBDB', GradientType=0);
	border: 1px solid #B0B0B0;
	color: #444;
	font-size: 12px;
	font-weight: bold;
	text-align:right;
}

.rpt_table td 
{
	 
	border: 1px solid #6666FF;
	
}
 
 
.tbl_bottom td
{
	background: rgb(217,229,237); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(217,229,237,1) 0%, rgba(169,200,225,1) 100%, rgba(217,229,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(217,229,237,1)), color-stop(100%,rgba(169,200,225,1)), color-stop(100%,rgba(217,229,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(217,229,237,1) 0%,rgba(169,200,225,1) 100%,rgba(217,229,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(217,229,237,1) 0%,rgba(169,200,225,1) 100%,rgba(217,229,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(217,229,237,1) 0%,rgba(169,200,225,1) 100%,rgba(217,229,237,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(217,229,237,1) 0%,rgba(169,200,225,1) 100%,rgba(217,229,237,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9e5ed', endColorstr='#d9e5ed',GradientType=0 ); /* IE6-9 */

	font-size: 11px;
	font-weight: bold;
	text-align:right;
}

.rpt_header thead th 
{
	border: 0px solid #000000;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	text-align:center;
}

.general td
{
	text-align:center;
	background: #B0B0B0;

}
 
.form_caption
 {
	 font-size:16px;
	 font-weight:bold;
	 color:#0172BE;
	 text-align:center;
	 height:30px;
	 vertical-align:middle;
 }
  
.button_container
{
	padding-top:5px;
	border-top:1px; 
	border-top-style:solid;
	border-top-color:#6666FF;
}



<!------------------------------------------------ Tbale Header Style
 
thead.table_header tr {
	position: relative
}

/* set THEAD element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
html>body thead.table_header tr {
	display: block
}

/* make the TH elements pretty 
thead.table_header th {
	background: #C96;
	border-left: 1px solid #EB8;
	border-right: 1px solid #B74;
	border-top: 1px solid #EB8;
	font-weight: normal;
	padding: 4px 3px;
	text-align: left
}
*/
/* make the A elements pretty. makes for nice clickable headers                */
thead.table_header a, thead.table_header a:link, thead.table_header a:visited {
	
	display: block;
	
	
}

/* make the A elements pretty. makes for nice clickable headers                */
/* WARNING: swapping the background on hover may cause problems in WinIE 6.x   */
thead.table_header a:hover {
	
	display: block;
	
	
}

/* define the table content to be scrollable                                              */
/* set TBODY element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
/* induced side effect is that child TDs no longer accept width: auto     */                
html>body tbody.table_body {
	display: block;
	max-height: 380px;
	overflow-y: scroll;
	
}


@media print{
	html>body tbody.table_body {
	max-height:305px;
	display: block;
	overflow:auto;
}
table {page-break-after:always}
table { page-break-after:auto }
  tr    { page-break-inside:avoid; page-break-after:auto }
  td    { page-break-inside:avoid; page-break-after:auto }
  thead { display:table-header-group }
  tfoot { display:table-footer-group }

}

/* make TD elements pretty. Provide alternating classes for striping the table */
/* http://www.alistapart.com/articles/zebratables/                             
tbody.table_body td, tbody.table_body tr.normalRow td {
	background: #FFF;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #CCC;
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 4px
}

tbody.table_body tr.alternateRow td {
	background: #EEE;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #CCC;
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 4px
}
 */
 
 
 
TD{ font-size : 8pt }
TH{ font-size : 8pt }

 
 
/* Z-index of #mask must lower than #boxes .window */
#mask {
  position:absolute;
  z-index:9000;
  background-color:#000;
  display:none;
}
   
#boxes .window {
  position:fixed;
  width:200px;
  height:100px;
  display:none;
  z-index:9999;
 /* padding:0px;*/
 /*padding-top:3px;*/
 border:3px solid #8DAFDA;
 border-radius:.7em;
  
	
}
 
 
/* Customize your modal window here, you can add background image too */
#boxes #dialog {
  width:200px;
  height:100px;
  font-weight:bold;
/* background-image: -moz-linear-gradient(bottom, rgb(194,220,255) 0%, rgb(255,255,255) 10%, rgb(194,220,255) 96%);
  */
  
}
#boxes #dialog .msg_header {
 width:200;
 height:25px;
 background-image: -moz-linear-gradient( rgb(194,220,255) 10%, rgb(136,170,214) 96%);
 border-top-right-radius:.4em;
 border-top-left-radius:.4em;
 color:#FFF;
 font-size:12px;
 font-weight:bold;
 text-align:left;
}
 p
 {
	word-break:break-all;
	word-wrap: break-word;
	width:100%;
 }
 .multiselect_dropdown_table
		{
			border:1px;
			border-style:solid;
			border-color:#CC0000;
			cursor:pointer;
			border-radius: .7em;
			 
		}
		
		.multiselect_mouse_over
		{
			
			border:1px;
			border-style:solid;
			border-color:#CC0000;
			cursor:pointer;
			border-radius: .7em;
			background-color:#FF6633;
		}
		
		.multiselect_mouse_out
		{
			border:1px;
			border-style:solid;
			border-color:#CC0000;
			cursor:pointer;
			border-radius: .7em;
			background-color:#33CC66;
		}
		 
		 .multiselect_dropdown_table_top thead th 
		{
			background-image: -moz-linear-gradient( rgb(194,220,255) 10%, rgb(136,170,214) 96%);
			border: 1px solid #8DAFDA;
			color: #444;
			font-size: 12px;
			font-weight: bold;
			text-align:center;
			line-height:12px;
			height:25px;
		}
		 
		 .multiselect_dropdown_table_bottom 
		 {
			border-left:1px solid #8DAFDA;
			border-right:1px solid #8DAFDA;
			border-bottom:3px solid #99B9E2;
			border-top:1px solid #8DAFDA;
			border-radius: .7em;
			padding:10px;
			margin:0;
			background-image: -moz-linear-gradient(bottom, rgb(194,220,255) 0%, rgb(255,255,255) 10%, rgb(194,220,255) 96%);
		  
		 }
		.multiselect_dropdown_table_bottom tr:nth-child(even) {background-image: -moz-linear-gradient(bottom, rgb(194,220,255) 0%, rgb(255,255,255) 10%, rgb(194,220,255) 96%);}
		.multiselect_dropdown_table_bottom tr:nth-child(odd) {background-image: -moz-linear-gradient(bottom, rgb(194,220,255) 0%, rgb(255,255,255) 10%, rgb(194,220,255) 96%);}


.accordion_h
{
	background-image: -moz-linear-gradient( rgb(194,220,255) 10%, rgb(136,170,214) 96%);
	border: 1px solid #8DAFDA;
	color: #444;
	font-size: 14px;
	font-weight: bold;
	text-align:left;
	line-height:12px;
	height:20px;
	border-radius:8px;
	margin-top:4px;
	cursor:pointer;
}
.accordion_h_top
{
	background-image: -moz-linear-gradient( rgb(194,220,255) 10%, rgb(136,170,214) 96%);
	border: 1px solid #8DAFDA;
	color: #444;
	font-size: 14px;
	font-weight: bold;
	text-align:left;
	line-height:12px;
	height:20px;
	border-radius:8px;
	margin-top:4px;
}