/*
 Ajatix Advanced CSS Drop Down Menu
 Copyright (C) 2010 Ajatix. All rights reserved.
 http://www.ajatix.com
 Unregistered copy.
 Any usage except for the purpose of evaluation is strictly prohibited.
*/
.AJXCSSMenueDFaTFD {position:relative;z-index:100;width:220px;}
.AJXCSSMenueDFaTFD ul {position:relative;float:left;margin:0;padding:0;list-style-type:none;background:#303030;}
.AJXCSSMenueDFaTFD li {float:left;width:212px;margin:0;padding:0 4px 1px 4px;}
.AJXCSSMenueDFaTFD li.tlast {padding-bottom:4px;}
.AJXCSSMenueDFaTFD li:hover,.AJXCSSMenueDFaTFD .ajxover {position:relative;}
.AJXCSSMenueDFaTFD a {display:block;width:174px;height:27px;white-space:nowrap;overflow:hidden;padding:0 10px 0 26px;font:11px/27px Arial,Helvetica,sans-serif;text-decoration:none;text-align:left;border:1px solid #424242;color:#ffffff;background:#303030 url(ajxmenu_files/top.gif) no-repeat top left;}
.AJXCSSMenueDFaTFD .tfirst a {margin-top:4px;}
.AJXCSSMenueDFaTFD li:hover a,.AJXCSSMenueDFaTFD .ajxover a {color:#000000;background:#d9b06f url(ajxmenu_files/top.gif) no-repeat bottom left;}
.AJXCSSMenueDFaTFD a.ajxsub {background:#303030 url(ajxmenu_files/top-sub.gif) no-repeat top left;}
.AJXCSSMenueDFaTFD li:hover a.ajxsub,.AJXCSSMenueDFaTFD .ajxover a.ajxsub {background:#d9b06f url(ajxmenu_files/top-sub.gif) no-repeat bottom left;}
.AJXCSSMenueDFaTFD ul ul {position:absolute;left:-9999px;top:-9999px;width:197px;height: auto;display:inline-block;float:none;margin:0;background:#d1a663 url(ajxmenu_files/sub-bg.gif) repeat-x left top;}
.AJXCSSMenueDFaTFD ul :hover ul,.AJXCSSMenueDFaTFD ul .ajxover ul {left:199px;top:2px;}
.AJXCSSMenueDFaTFD .tfirst:hover ul,.AJXCSSMenueDFaTFD ul .ajxover.tfirst ul {top:6px;}
.AJXCSSMenueDFaTFD li li {width:193px;border:1px solid #303030;border-width:0 1px;padding:0 1px 1px 1px;}
.AJXCSSMenueDFaTFD li li.sfirst {border-top:1px solid #303030;}
.AJXCSSMenueDFaTFD li li.slast {border-bottom:1px solid #303030;}
.AJXCSSMenueDFaTFD ul ul a,.AJXCSSMenueDFaTFD ul :hover ul a,.AJXCSSMenueDFaTFD ul :hover ul :hover ul a,.AJXCSSMenueDFaTFD ul :hover ul :hover ul :hover ul a,.AJXCSSMenueDFaTFD ul .ajxover ul a,.AJXCSSMenueDFaTFD ul .ajxover ul .ajxover ul a,.AJXCSSMenueDFaTFD ul .ajxover ul .ajxover ul .ajxover ul a {margin:0;width:165px;height:26px;padding:0 10px 0 18px;font:11px/27px Arial,Helvetica,sans-serif;text-decoration:none;border:0;color:#000000;background:none;}
.AJXCSSMenueDFaTFD ul :hover ul .sfirst a,.AJXCSSMenueDFaTFD ul .ajxover ul .sfirst a {margin-top:1px;}
.AJXCSSMenueDFaTFD ul ul :hover a,.AJXCSSMenueDFaTFD ul ul :hover ul :hover a,.AJXCSSMenueDFaTFD ul ul :hover ul :hover ul :hover a,.AJXCSSMenueDFaTFD ul ul .ajxover a,.AJXCSSMenueDFaTFD ul ul .ajxover ul .ajxover a,.AJXCSSMenueDFaTFD ul ul .ajxover ul .ajxover ul .ajxover a {color:#ffffff;background:#303030;}
.AJXCSSMenueDFaTFD ul ul a.ajxsub,.AJXCSSMenueDFaTFD ul :hover ul a.ajxsub,.AJXCSSMenueDFaTFD ul :hover ul :hover ul a.ajxsub,.AJXCSSMenueDFaTFD ul .ajxover ul a.ajxsub,.AJXCSSMenueDFaTFD ul .ajxover ul .ajxover ul a.ajxsub {width:157px;padding:0 10px 0 26px;background:url(ajxmenu_files/sub-sub.gif) no-repeat top left;}
.AJXCSSMenueDFaTFD ul ul :hover a.ajxsub,.AJXCSSMenueDFaTFD ul ul :hover ul :hover a.ajxsub,.AJXCSSMenueDFaTFD ul ul .ajxover a.ajxsub,.AJXCSSMenueDFaTFD ul ul .ajxover ul .ajxover a.ajxsub {background:#303030 url(ajxmenu_files/sub-sub.gif) no-repeat bottom left;}
.AJXCSSMenueDFaTFD ul :hover ul ul,.AJXCSSMenueDFaTFD ul :hover ul :hover ul ul,.AJXCSSMenueDFaTFD ul .ajxover ul ul,.AJXCSSMenueDFaTFD ul .ajxover ul .ajxover ul ul {position:absolute;left:-9999px;top:-9999px;}
.AJXCSSMenueDFaTFD ul :hover ul :hover ul,.AJXCSSMenueDFaTFD ul :hover ul :hover ul :hover ul,.AJXCSSMenueDFaTFD ul .ajxover ul .ajxover ul,.AJXCSSMenueDFaTFD ul .ajxover ul .ajxover ul .ajxover ul {left:185px;top:2px;}
.AJXCSSMenueDFaTFD ul :hover ul .sfirst:hover ul,.AJXCSSMenueDFaTFD ul :hover ul :hover ul .sfirst:hover ul,.AJXCSSMenueDFaTFD ul .ajxover ul .ajxover.sfirst ul,.AJXCSSMenueDFaTFD ul .ajxover ul .ajxover ul .ajxover.sfirst ul {top:3px;}
.AJXCSSMenueDFaTFD ul :hover ul :hover ul .sfirst:hover ul,.AJXCSSMenueDFaTFD ul .ajxover ul .ajxover ul .ajxover.sfirst ul {top:3px;}
.AJXCSSMenueDFaTFD ul :hover ul :hover ul .sfirst a,.AJXCSSMenueDFaTFD ul :hover ul :hover ul :hover ul .sfirst a,.AJXCSSMenueDFaTFD ul .ajxover ul .ajxover ul .sfirst a,.AJXCSSMenueDFaTFD ul .ajxover ul .ajxover ul .ajxover ul .sfirst a {margin-top:1px;}
.AJXCSSMenueDFaTFD br {clear:both;height:0;font-size: 1px;line-height: 0px;}
