form { overflow:hidden; clear:both; width:100%; }
label{
	clear:left;
	float:left;
	width:80%;
	height:1em;
	margin-bottom:10px;
	text-align:right;
}
input[type="text"]{
	float:left;
	padding:5px;
	width:200px;
}
input[type="button"]{
	float:left;
	padding:5px;
}
textarea {
	float:left;
	padding:5px;
	width:200px;
	height:50px;
}
button { clear:both; display:inline; }
.placeholder { color:#aaa; }
.slider { float:left; width:49%; margin:10px 0px 20px 10px; }