#background { background-image:url(images/background4.jpg); background-repeat:repeat; margin:0px 0px 0px 0px; }

#header { width:1200px; height:90px; }

#mainbody { width:1200px; margin:0; background-image:url(images/body3.jpg); }

#menu { width:200px; height:300px; float:left; background-image:url(images/body3.jpg); border:inset; border-color:#004000; }

#body { background-image:url(images/body3.jpg); background-repeat:repeat; width:950px; height:auto; float:left; }

#footer { width:600px; height:40px; background-image:url(images/line.jpg); }