

#mytable {
	width: 400px;
	padding: 0;
	margin: 0;
}

#mytable body {
	font: normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	background: #E6EAE9;
}

#mytable  a {
	color: #c75f3e;
}

#mytable caption {
	padding: 0 0 5px 0;
	width:400px;	 
	font: italic 11px "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
}

#mytable th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA url(bg_header.jpg) no-repeat;
}

#mytable th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;	
	background-color: #FF99CD;
	background-image:url(green.gif);
}


#mytable td.urg1 {
	background-color: #FFFACD;
}
#mytable td.urg2 {
	background-color: #FF88CD;
}
#mytable td.urg3 {
	background-color: #FF33CD;
}
#mytable td.urg4 {
	background-color: #FF00CD;
}
#mytable td.urg5 {
	background-color: #FF99CD;
}


#mytable td.urg1 {
	background-color: #FFFACD;
}
#mytable td.urg2 {
	background-color: #FF88CD;
}
#mytable td.urg3 {
	background-color: #FF33CD;
}
#mytable td.urg4 {
	background-color: #FF00CD;
}
#mytable td.urg5 {
	background-color: #FF99CD;
}

#mytable td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: -2px 6px 6px 12p;
	color: #4f6b72;
	
}


#mytable td.alt {
	background: #F5FAFA;
	color: #797268;
}

#mytable th.spec {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #fff url(../../images/bullet1.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

#mytable th.specalt {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #f5fafa url(../../images/bullet2.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #797268;
}